In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('Sample - Superstore.xls')
print(df.head())
print(df.shape)

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
(9994, 21)

In [ ]:
# Question 1: Find total number of orders in the dataset.
total_orders = df['Order ID'].nunique()
print(total_orders)

5009

In [ ]:
# Question 2: Find the earliest order date.
earliest_order_date = df['Order Date'].min()
print(earliest_order_date)

2014-01-03 00:00:00

In [8]:
# Question 3: Find the latest order date.
latest_order_date = df['Order Date'].max()
print(latest_order_date)

2017-12-30 00:00:00

In [10]:
# Question 4: Find the total number of unique customers.
total_unique_customers = df['Customer ID'].nunique()
print(total_unique_customers)

793

In [11]:
# Question 5: Find the total number of unique products sold.
total_unique_products = df['Product ID'].nunique()
print(total_unique_products)

1862

In [12]:
# Question 6: Find the total number of unique categories.
total_unique_category = df['Category'].nunique()
print(total_unique_category)

3

In [13]:
# Question 7: Find the total number of unique sub-categories.
total_unique_sub_category = df['Sub-Category'].nunique()
print(total_unique_sub_category)

17

In [ ]:
# Question 8: Count number of orders in each region.

# orders_by_region = df.groupby("Region")["Order ID"].value_counts()
# print(orders_by_region)
#print(orders_by_region[df["Region"] == "East"].head(50))


orders_by_region = df['Region'].value_counts()
print(orders_by_region)

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [32]:
# Question 9: Count number of orders by state.

orders_by_state = df['State'].value_counts()
print(orders_by_state)

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [33]:
# Question 10: Count number of orders by city.

orders_by_city = df['City'].value_counts()
print(orders_by_city)

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [56]:
# Question 11: Find the most common ship mode.
most_comm_ship_mode = df['Ship Mode'].value_counts().idxmax()
print(most_comm_ship_mode)

Standard Class

In [36]:
# Question 12: Find the least common ship mode.
least_comm_ship_mode = df['Ship Mode'].value_counts().idxmin()
print(least_comm_ship_mode)

Same Day

In [ ]:
# Question 13: Count number of orders shipped with "Same Day" mode.
same_day_orders = df[df['Ship Mode'] == 'Same Day'].value_counts().sum()

# same_day_orders = df[df['Ship Mode'] == 'Same Day'].shape[0]
print(same_day_orders)

543

In [42]:
# Question 14: Count number of orders shipped with "First Class".

first_class_orders = df[df['Ship Mode'] == 'First Class'].shape[0]
print(first_class_orders)

1538

In [43]:
# Question 15: Count number of orders shipped with "Second Class".
Second_class_orders = df[df['Ship Mode'] == 'Second Class'].shape[0]
print(Second_class_orders)

1945

In [44]:
# Question 16: Count number of orders shipped with "Standard Class".
standard_class_orders = df[df['Ship Mode'] == 'Standard Class'].shape[0]
print(standard_class_orders)

5968

In [ ]:
# Question 17: Find number of orders in each year.

df['year'] = df['Order Date'].dt.year
print(df['year'].value_counts())

Order Date
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64

In [49]:
# Question 18: Find number of orders in each quarter.
df['quarter'] = df['Order Date'].dt.quarter
print(df['quarter'].value_counts())

quarter
4    3698
3    2799
2    2120
1    1377
Name: count, dtype: int64

In [50]:
# Question 19: Find number of orders in each month.
df['month'] = df['Order Date'].dt.month
print(df['month'].value_counts())

month
11    1471
12    1408
9     1383
10     819
5      735
6      717
7      710
8      706
3      696
4      668
1      381
2      300
Name: count, dtype: int64

In [51]:
# Question 20: Find number of orders in each weekday.
df['weekday'] = df['Order Date'].dt.weekday
print(df['weekday'].value_counts())

weekday
0    1871
4    1818
6    1710
5    1655
3    1463
1    1106
2     371
Name: count, dtype: int64

In [53]:
# Question 21: Count orders with discount applied.

orders_with_discount = df[df['Discount'] > 0].shape[0]
print(orders_with_discount)

5196

In [ ]:
# Question 22: Count orders without discount.
orders_without_discount = df[df['Discount'] == 0].shape[0]
print(orders_without_discount)

4798

In [ ]:
# Question 23: Count orders where discount = 0.
orders_without_discount = df[df['Discount'] == 0].shape[0]
print(orders_without_discount)

4798

In [59]:
# Question 24: Count orders where discount > 0.2.
orders_with_discount_grt_pointTwo = df[df['Discount'] > 0.2].shape[0]
print(orders_with_discount_grt_pointTwo)

1393

In [60]:
# Question 25: Count orders where discount = 0.5.
orders_with_discount_grt_pointFive = df[df['Discount'] == 0.5].shape[0]
print(orders_with_discount_grt_pointFive)

66

In [61]:
# Question 26: Find maximum discount given.
max_discount = df['Discount'].max()
print(max_discount)

0.8

In [68]:
# Question 27: Find minimum discount given.

# df['Discount'] > 0 → creates a boolean mask to exclude zeros.
# df.loc[mask, 'Discount'] → selects only the Discount column where discount > 0.
# .min() → finds the minimum value from that filtered column.
min_discount = df.loc[df['Discount'] > 0, 'Discount'].min()
print(min_discount)

0.1

In [70]:
# Question 28: Count orders where profit < 0.

orders_with_profit_lt_0 =  df[df['Profit'] < 0].shape[0]
print(orders_with_profit_lt_0)

1871

In [71]:
# Question 29: Count orders where profit = 0.

orders_with_profit_is_0 =  df[df['Profit'] == 0].shape[0]
print(orders_with_profit_is_0)

65

In [73]:
# Question 30: Count orders where profit > 100.
orders_with_profit_gt_100 =  df[df['Profit'] > 100].shape[0]
print(orders_with_profit_gt_100)

890

In [74]:
# Question 31: Count orders where sales > 1000.
orders_with_sales_gt_1000 =  df[df['Sales'] > 1000].shape[0]
print(orders_with_sales_gt_1000)

468

In [75]:
# Question 32: Find total quantity sold.
total_quantity_sold = df['Quantity'].sum()
print(total_quantity_sold)

37873

In [76]:
# Question 33: Find average quantity per order.

avg_quantity_per_order = df['Quantity'].mean()
print(avg_quantity_per_order)

3.789573744246548

In [77]:
# Question 34: Find average sales per order.

avg_sales_per_order = df['Sales'].mean()
print(avg_sales_per_order)

229.85800083049827

In [78]:
# Question 35: Find average profit per order.

avg_profit_per_order = df['Profit'].mean()
print(avg_profit_per_order)

28.656896307784663

In [79]:
# Question 36: Find maximum sales in a single order.

max_sales_single_order = df['Sales'].max()
print(max_sales_single_order)

22638.48

In [80]:
# Question 37: Find minimum sales in a single order.

min_sales_single_order = df['Sales'].min()
print(min_sales_single_order)

0.44399999999999995

In [81]:
# Question 38: Find maximum profit in a single order.

max_profit_single_order = df['Profit'].max()
print(max_profit_single_order)

8399.975999999999

In [82]:
# Question 39: Find minimum profit in a single order.

min_profit_single_order = df['Profit'].min()
print(min_profit_single_order)

-6599.978000000001

In [83]:
# Question 40: Find number of orders per customer.

orders_per_customer = df['Customer ID'].value_counts()
print(orders_per_customer)

Customer ID
WB-21850    37
MA-17560    34
JL-15835    34
PP-18955    34
CK-12205    32
            ..
AO-10810     1
LD-16855     1
JR-15700     1
CJ-11875     1
RE-19405     1
Name: count, Length: 793, dtype: int64