In [2]:
# Time Series & Trend Analysis (Questions 201-250)
import numpy as np
import pandas as pd
df = pd.read_excel('Sample - Superstore.xls')
print(df.head())
print(df.shape)

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
(9994, 21)

In [3]:
df['year'] = df['Order Date'].dt.year
print(df['year'].value_counts())

df['quarter'] = df['Order Date'].dt.quarter
print(df['quarter'].value_counts())

df['month'] = df['Order Date'].dt.month
print(df['month'].value_counts())

df['weekday'] = df['Order Date'].dt.weekday
print(df['weekday'].value_counts())

year
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64
quarter
4    3698
3    2799
2    2120
1    1377
Name: count, dtype: int64
month
11    1471
12    1408
9     1383
10     819
5      735
6      717
7      710
8      706
3      696
4      668
1      381
2      300
Name: count, dtype: int64
weekday
0    1871
4    1818
6    1710
5    1655
3    1463
1    1106
2     371
Name: count, dtype: int64

In [3]:
# Question 201: Find monthly sales trend for each year.
monthly_sales_trend = df.groupby(['year','month'])['Sales'].sum().reset_index()
print(monthly_sales_trend)

    year  month        Sales
0   2014      1   14236.8950
1   2014      2    4519.8920
2   2014      3   55691.0090
3   2014      4   28295.3450
4   2014      5   23648.2870
5   2014      6   34595.1276
6   2014      7   33946.3930
7   2014      8   27909.4685
8   2014      9   81777.3508
9   2014     10   31453.3930
10  2014     11   78628.7167
11  2014     12   69545.6205
12  2015      1   18174.0756
13  2015      2   11951.4110
14  2015      3   38726.2520
15  2015      4   34195.2085
16  2015      5   30131.6865
17  2015      6   24797.2920
18  2015      7   28765.3250
19  2015      8   36898.3322
20  2015      9   64595.9180
21  2015     10   31404.9235
22  2015     11   75972.5635
23  2015     12   74919.5212
24  2016      1   18542.4910
25  2016      2   22978.8150
26  2016      3   51715.8750
27  2016      4   38750.0390
28  2016      5   56987.7280
29  2016      6   40344.5340
30  2016      7   39261.9630
31  2016      8   31115.3743
32  2016      9   73410.0249
33  2016     10   59687.7450
34  2016     11   79411.9658
35  2016     12   96999.0430
36  2017      1   43971.3740
37  2017      2   20301.1334
38  2017      3   58872.3528
39  2017      4   36521.5361
40  2017      5   44261.1102
41  2017      6   52981.7257
42  2017      7   45264.4160
43  2017      8   63120.8880
44  2017      9   87866.6520
45  2017     10   77776.9232
46  2017     11  118447.8250
47  2017     12   83829.3188

In [4]:
# Question 202: Find monthly profit trend for each year.
monthly_profit_trend = df.groupby(['year','month'])['Profit'].sum().reset_index()
print(monthly_profit_trend)

    year  month      Profit
0   2014      1   2450.1907
1   2014      2    862.3084
2   2014      3    498.7299
3   2014      4   3488.8352
4   2014      5   2738.7096
5   2014      6   4976.5244
6   2014      7   -841.4826
7   2014      8   5318.1050
8   2014      9   8328.0994
9   2014     10   3448.2573
10  2014     11   9292.1269
11  2014     12   8983.5699
12  2015      1  -3281.0070
13  2015      2   2813.8508
14  2015      3   9732.0978
15  2015      4   4187.4962
16  2015      5   4667.8690
17  2015      6   3335.5572
18  2015      7   3288.6483
19  2015      8   5355.8084
20  2015      9   8209.1627
21  2015     10   2817.3660
22  2015     11  12474.7884
23  2015     12   8016.9659
24  2016      1   2824.8233
25  2016      2   5004.5795
26  2016      3   3611.9680
27  2016      4   2977.8149
28  2016      5   8662.1464
29  2016      6   4750.3781
30  2016      7   4432.8779
31  2016      8   2062.0693
32  2016      9   9328.6576
33  2016     10  16243.1425
34  2016     11   4011.4075
35  2016     12  17885.3093
36  2017      1   7140.4391
37  2017      2   1613.8720
38  2017      3  14751.8915
39  2017      4    933.2900
40  2017      5   6342.5828
41  2017      6   8223.3357
42  2017      7   6952.6212
43  2017      8   9040.9557
44  2017      9  10991.5556
45  2017     10   9275.2755
46  2017     11   9690.1037
47  2017     12   8483.3468

In [9]:
# Question 203: Find year with highest sales.
year_with_highest_sales = df.groupby('year')['Sales'].sum().idxmax()
print(year_with_highest_sales)

2017

In [10]:
# Question 204: Find year with lowest sales.
year_with_lowest_sales = df.groupby('year')['Sales'].sum().idxmin()
print(year_with_lowest_sales)

2015

In [11]:
# Question 205: Find year with highest profit.
year_with_highest_profit = df.groupby('year')['Profit'].sum().idxmax()
print(year_with_highest_profit)

2017

In [12]:
# Question 206: Find year with lowest profit.
year_with_lowest_profit = df.groupby('year')['Profit'].sum().idxmin()
print(year_with_lowest_profit)

2014

In [13]:
# Question 207: Find quarterly sales trend.
quarterly_sales_trend = df.groupby(['year','quarter'])['Sales'].sum().reset_index()
print(quarterly_sales_trend)

    year  quarter        Sales
0   2014        1   74447.7960
1   2014        2   86538.7596
2   2014        3  143633.2123
3   2014        4  179627.7302
4   2015        1   68851.7386
5   2015        2   89124.1870
6   2015        3  130259.5752
7   2015        4  182297.0082
8   2016        1   93237.1810
9   2016        2  136082.3010
10  2016        3  143787.3622
11  2016        4  236098.7538
12  2017        1  123144.8602
13  2017        2  133764.3720
14  2017        3  196251.9560
15  2017        4  280054.0670

In [14]:
# Question 208: Find quarterly profit trend.
quarterly_profit_trend = df.groupby(['year','quarter'])['Profit'].sum().reset_index()
print(quarterly_profit_trend)

    year  quarter      Profit
0   2014        1   3811.2290
1   2014        2  11204.0692
2   2014        3  12804.7218
3   2014        4  21723.9541
4   2015        1   9264.9416
5   2015        2  12190.9224
6   2015        3  16853.6194
7   2015        4  23309.1203
8   2016        1  11441.3708
9   2016        2  16390.3394
10  2016        3  15823.6048
11  2016        4  38139.8593
12  2017        1  23506.2026
13  2017        2  15499.2085
14  2017        3  26985.1325
15  2017        4  27448.7260

In [ ]:
# Question 209: Find moving average of sales (3 months).

# A moving average (or rolling mean) smooths sales over time —
# instead of looking at each month’s sales separately, you look at the average of that month and the previous 2 months.

monthly_sales = df.groupby(['year','month'])['Sales'].sum().reset_index()
monthly_sales = monthly_sales.sort_values(by=['year','month'])
#
monthly_sales['3_month_MA'] = monthly_sales['Sales'].rolling(window=3).mean()
print(monthly_sales)

    year  month        Sales    3_month_MA
0   2014      1   14236.8950           NaN
1   2014      2    4519.8920           NaN
2   2014      3   55691.0090  24815.932000
3   2014      4   28295.3450  29502.082000
4   2014      5   23648.2870  35878.213667
5   2014      6   34595.1276  28846.253200
6   2014      7   33946.3930  30729.935867
7   2014      8   27909.4685  32150.329700
8   2014      9   81777.3508  47877.737433
9   2014     10   31453.3930  47046.737433
10  2014     11   78628.7167  63953.153500
11  2014     12   69545.6205  59875.910067
12  2015      1   18174.0756  55449.470933
13  2015      2   11951.4110  33223.702367
14  2015      3   38726.2520  22950.579533
15  2015      4   34195.2085  28290.957167
16  2015      5   30131.6865  34351.049000
17  2015      6   24797.2920  29708.062333
18  2015      7   28765.3250  27898.101167
19  2015      8   36898.3322  30153.649733
20  2015      9   64595.9180  43419.858400
21  2015     10   31404.9235  44299.724567
22  2015     11   75972.5635  57324.468333
23  2015     12   74919.5212  60765.669400
24  2016      1   18542.4910  56478.191900
25  2016      2   22978.8150  38813.609067
26  2016      3   51715.8750  31079.060333
27  2016      4   38750.0390  37814.909667
28  2016      5   56987.7280  49151.214000
29  2016      6   40344.5340  45360.767000
30  2016      7   39261.9630  45531.408333
31  2016      8   31115.3743  36907.290433
32  2016      9   73410.0249  47929.120733
33  2016     10   59687.7450  54737.714733
34  2016     11   79411.9658  70836.578567
35  2016     12   96999.0430  78699.584600
36  2017      1   43971.3740  73460.794267
37  2017      2   20301.1334  53757.183467
38  2017      3   58872.3528  41048.286733
39  2017      4   36521.5361  38565.007433
40  2017      5   44261.1102  46551.666367
41  2017      6   52981.7257  44588.124000
42  2017      7   45264.4160  47502.417300
43  2017      8   63120.8880  53789.009900
44  2017      9   87866.6520  65417.318667
45  2017     10   77776.9232  76254.821067
46  2017     11  118447.8250  94697.133400
47  2017     12   83829.3188  93351.355667

In [8]:
# Question 210: Find moving average of profit (3 months).
monthly_profit = df.groupby(['year','month'])['Profit'].sum().reset_index()
monthly_profit = monthly_profit.sort_values(by=['year','month'])
monthly_profit['3_month_profit_MA'] = monthly_profit['Profit'].rolling(window=3).mean()
print(monthly_profit)

    year  month      Profit  3_month_profit_MA
0   2014      1   2450.1907                NaN
1   2014      2    862.3084                NaN
2   2014      3    498.7299        1270.409667
3   2014      4   3488.8352        1616.624500
4   2014      5   2738.7096        2242.091567
5   2014      6   4976.5244        3734.689733
6   2014      7   -841.4826        2291.250467
7   2014      8   5318.1050        3151.048933
8   2014      9   8328.0994        4268.240600
9   2014     10   3448.2573        5698.153900
10  2014     11   9292.1269        7022.827867
11  2014     12   8983.5699        7241.318033
12  2015      1  -3281.0070        4998.229933
13  2015      2   2813.8508        2838.804567
14  2015      3   9732.0978        3088.313867
15  2015      4   4187.4962        5577.814933
16  2015      5   4667.8690        6195.821000
17  2015      6   3335.5572        4063.640800
18  2015      7   3288.6483        3764.024833
19  2015      8   5355.8084        3993.337967
20  2015      9   8209.1627        5617.873133
21  2015     10   2817.3660        5460.779033
22  2015     11  12474.7884        7833.772367
23  2015     12   8016.9659        7769.706767
24  2016      1   2824.8233        7772.192533
25  2016      2   5004.5795        5282.122900
26  2016      3   3611.9680        3813.790267
27  2016      4   2977.8149        3864.787467
28  2016      5   8662.1464        5083.976433
29  2016      6   4750.3781        5463.446467
30  2016      7   4432.8779        5948.467467
31  2016      8   2062.0693        3748.441767
32  2016      9   9328.6576        5274.534933
33  2016     10  16243.1425        9211.289800
34  2016     11   4011.4075        9861.069200
35  2016     12  17885.3093       12713.286433
36  2017      1   7140.4391        9679.051967
37  2017      2   1613.8720        8879.873467
38  2017      3  14751.8915        7835.400867
39  2017      4    933.2900        5766.351167
40  2017      5   6342.5828        7342.588100
41  2017      6   8223.3357        5166.402833
42  2017      7   6952.6212        7172.846567
43  2017      8   9040.9557        8072.304200
44  2017      9  10991.5556        8995.044167
45  2017     10   9275.2755        9769.262267
46  2017     11   9690.1037        9985.644933
47  2017     12   8483.3468        9149.575333

In [9]:
# Question 211: Find moving average of sales (6 months).
monthly_sales['6_month_MA'] = monthly_sales['Sales'].rolling(window=6).mean()
print(monthly_sales)

    year  month        Sales    3_month_MA    6_month_MA
0   2014      1   14236.8950           NaN           NaN
1   2014      2    4519.8920           NaN           NaN
2   2014      3   55691.0090  24815.932000           NaN
3   2014      4   28295.3450  29502.082000           NaN
4   2014      5   23648.2870  35878.213667           NaN
5   2014      6   34595.1276  28846.253200  26831.092600
6   2014      7   33946.3930  30729.935867  30116.008933
7   2014      8   27909.4685  32150.329700  34014.271683
8   2014      9   81777.3508  47877.737433  38361.995317
9   2014     10   31453.3930  47046.737433  38888.336650
10  2014     11   78628.7167  63953.153500  48051.741600
11  2014     12   69545.6205  59875.910067  53876.823750
12  2015      1   18174.0756  55449.470933  51248.104183
13  2015      2   11951.4110  33223.702367  48588.427933
14  2015      3   38726.2520  22950.579533  41413.244800
15  2015      4   34195.2085  28290.957167  41870.214050
16  2015      5   30131.6865  34351.049000  33787.375683
17  2015      6   24797.2920  29708.062333  26329.320933
18  2015      7   28765.3250  27898.101167  28094.529167
19  2015      8   36898.3322  30153.649733  32252.349367
20  2015      9   64595.9180  43419.858400  36563.960367
21  2015     10   31404.9235  44299.724567  36098.912867
22  2015     11   75972.5635  57324.468333  43739.059033
23  2015     12   74919.5212  60765.669400  52092.763900
24  2016      1   18542.4910  56478.191900  50388.958233
25  2016      2   22978.8150  38813.609067  48069.038700
26  2016      3   51715.8750  31079.060333  45922.364867
27  2016      4   38750.0390  37814.909667  47146.550783
28  2016      5   56987.7280  49151.214000  43982.411533
29  2016      6   40344.5340  45360.767000  38219.913667
30  2016      7   39261.9630  45531.408333  41673.159000
31  2016      8   31115.3743  36907.290433  43029.252217
32  2016      9   73410.0249  47929.120733  46644.943867
33  2016     10   59687.7450  54737.714733  50134.561533
34  2016     11   79411.9658  70836.578567  53871.934500
35  2016     12   96999.0430  78699.584600  63314.352667
36  2017      1   43971.3740  73460.794267  64099.254500
37  2017      2   20301.1334  53757.183467  62296.881017
38  2017      3   58872.3528  41048.286733  59873.935667
39  2017      4   36521.5361  38565.007433  56012.900850
40  2017      5   44261.1102  46551.666367  50154.424917
41  2017      6   52981.7257  44588.124000  42818.205367
42  2017      7   45264.4160  47502.417300  43033.712367
43  2017      8   63120.8880  53789.009900  50170.338133
44  2017      9   87866.6520  65417.318667  55002.721333
45  2017     10   77776.9232  76254.821067  61878.619183
46  2017     11  118447.8250  94697.133400  74243.071650
47  2017     12   83829.3188  93351.355667  79384.337167

In [10]:
# Question 212: Find moving average of profit (6 months).
monthly_profit['6_month_profit_MA'] = monthly_profit['Profit'].rolling(window=6).mean()
print(monthly_profit)

    year  month      Profit  3_month_profit_MA  6_month_profit_MA
0   2014      1   2450.1907                NaN                NaN
1   2014      2    862.3084                NaN                NaN
2   2014      3    498.7299        1270.409667                NaN
3   2014      4   3488.8352        1616.624500                NaN
4   2014      5   2738.7096        2242.091567                NaN
5   2014      6   4976.5244        3734.689733        2502.549700
6   2014      7   -841.4826        2291.250467        1953.937483
7   2014      8   5318.1050        3151.048933        2696.570250
8   2014      9   8328.0994        4268.240600        4001.465167
9   2014     10   3448.2573        5698.153900        3994.702183
10  2014     11   9292.1269        7022.827867        5086.938400
11  2014     12   8983.5699        7241.318033        5754.779317
12  2015      1  -3281.0070        4998.229933        5348.191917
13  2015      2   2813.8508        2838.804567        4930.816217
14  2015      3   9732.0978        3088.313867        5164.815950
15  2015      4   4187.4962        5577.814933        5288.022433
16  2015      5   4667.8690        6195.821000        4517.312783
17  2015      6   3335.5572        4063.640800        3575.977333
18  2015      7   3288.6483        3764.024833        4670.919883
19  2015      8   5355.8084        3993.337967        5094.579483
20  2015      9   8209.1627        5617.873133        4840.756967
21  2015     10   2817.3660        5460.779033        4612.401933
22  2015     11  12474.7884        7833.772367        5913.555167
23  2015     12   8016.9659        7769.706767        6693.789950
24  2016      1   2824.8233        7772.192533        6616.485783
25  2016      2   5004.5795        5282.122900        6557.947633
26  2016      3   3611.9680        3813.790267        5791.748517
27  2016      4   2977.8149        3864.787467        5818.490000
28  2016      5   8662.1464        5083.976433        5183.049667
29  2016      6   4750.3781        5463.446467        4638.618367
30  2016      7   4432.8779        5948.467467        4906.627467
31  2016      8   2062.0693        3748.441767        4416.209100
32  2016      9   9328.6576        5274.534933        5368.990700
33  2016     10  16243.1425        9211.289800        7579.878633
34  2016     11   4011.4075        9861.069200        6804.755483
35  2016     12  17885.3093       12713.286433        8993.910683
36  2017      1   7140.4391        9679.051967        9445.170883
37  2017      2   1613.8720        8879.873467        9370.471333
38  2017      3  14751.8915        7835.400867       10274.343650
39  2017      4    933.2900        5766.351167        7722.701567
40  2017      5   6342.5828        7342.588100        8111.230783
41  2017      6   8223.3357        5166.402833        6500.901850
42  2017      7   6952.6212        7172.846567        6469.598867
43  2017      8   9040.9557        8072.304200        7707.446150
44  2017      9  10991.5556        8995.044167        7080.723500
45  2017     10   9275.2755        9769.262267        8471.054417
46  2017     11   9690.1037        9985.644933        9028.974567
47  2017     12   8483.3468        9149.575333        9072.309750

In [ ]:
# Question 213: Compare year-over-year growth in sales.
yearly_sales = df.groupby('year')['Sales'].sum().reset_index()
# .pct_change() automatically does (current - previous) / previous.
yearly_sales['YoY_growth'] = yearly_sales['Sales'].pct_change() * 100
print(yearly_sales)

   year        Sales  YoY_growth
0  2014  484247.4981         NaN
1  2015  470532.5090   -2.832227
2  2016  609205.5980   29.471521
3  2017  733215.2552   20.355962

In [12]:
# Question 214: Compare year-over-year growth in profit.
yearly_profit = df.groupby('year')['Profit'].sum().reset_index()
yearly_profit['YoY_profit_growth'] = yearly_profit['Profit'].pct_change() * 100
print(yearly_profit)

   year      Profit  YoY_profit_growth
0  2014  49543.9741                NaN
1  2015  61618.6037          24.371540
2  2016  81795.1743          32.744284
3  2017  93439.2696          14.235675

In [13]:
# Question 215: Compare month-over-month growth in sales.
monthly_sales = df.groupby(['year','month'])['Sales'].sum().reset_index()
monthly_sales = monthly_sales.sort_values(by=['year','month'])
monthly_sales['MoM_sales_growth'] = monthly_sales['Sales'].pct_change() * 100
print(monthly_sales)

    year  month        Sales  MoM_sales_growth
0   2014      1   14236.8950               NaN
1   2014      2    4519.8920        -68.252263
2   2014      3   55691.0090       1132.131409
3   2014      4   28295.3450        -49.192257
4   2014      5   23648.2870        -16.423401
5   2014      6   34595.1276         46.290205
6   2014      7   33946.3930         -1.875220
7   2014      8   27909.4685        -17.783699
8   2014      9   81777.3508        193.009345
9   2014     10   31453.3930        -61.537770
10  2014     11   78628.7167        149.984848
11  2014     12   69545.6205        -11.551882
12  2015      1   18174.0756        -73.867405
13  2015      2   11951.4110        -34.239236
14  2015      3   38726.2520        224.030794
15  2015      4   34195.2085        -11.700186
16  2015      5   30131.6865        -11.883308
17  2015      6   24797.2920        -17.703604
18  2015      7   28765.3250         16.001880
19  2015      8   36898.3322         28.273650
20  2015      9   64595.9180         75.064601
21  2015     10   31404.9235        -51.382495
22  2015     11   75972.5635        141.912907
23  2015     12   74919.5212         -1.386082
24  2016      1   18542.4910        -75.250121
25  2016      2   22978.8150         23.925178
26  2016      3   51715.8750        125.058929
27  2016      4   38750.0390        -25.071288
28  2016      5   56987.7280         47.064957
29  2016      6   40344.5340        -29.204874
30  2016      7   39261.9630         -2.683315
31  2016      8   31115.3743        -20.749316
32  2016      9   73410.0249        135.928465
33  2016     10   59687.7450        -18.692651
34  2016     11   79411.9658         33.045679
35  2016     12   96999.0430         22.146634
36  2017      1   43971.3740        -54.668239
37  2017      2   20301.1334        -53.831023
38  2017      3   58872.3528        189.995399
39  2017      4   36521.5361        -37.964878
40  2017      5   44261.1102         21.191809
41  2017      6   52981.7257         19.702659
42  2017      7   45264.4160        -14.565984
43  2017      8   63120.8880         39.449249
44  2017      9   87866.6520         39.203764
45  2017     10   77776.9232        -11.483001
46  2017     11  118447.8250         52.291734
47  2017     12   83829.3188        -29.226798

In [14]:
# Question 216: Compare month-over-month growth in profit.
monthly_profit = df.groupby(['year','month'])['Profit'].sum().reset_index()
monthly_profit = monthly_profit.sort_values(by=['year','month'])
monthly_profit['MoM_profit_growth'] = monthly_profit['Profit'].pct_change() * 100
print(monthly_profit)

    year  month      Profit  MoM_profit_growth
0   2014      1   2450.1907                NaN
1   2014      2    862.3084         -64.806478
2   2014      3    498.7299         -42.163395
3   2014      4   3488.8352         599.544022
4   2014      5   2738.7096         -21.500746
5   2014      6   4976.5244          81.710554
6   2014      7   -841.4826        -116.909042
7   2014      8   5318.1050        -731.992272
8   2014      9   8328.0994          56.599003
9   2014     10   3448.2573         -58.594907
10  2014     11   9292.1269         169.473131
11  2014     12   8983.5699          -3.320628
12  2015      1  -3281.0070        -136.522307
13  2015      2   2813.8508        -185.761804
14  2015      3   9732.0978         245.864031
15  2015      4   4187.4962         -56.972317
16  2015      5   4667.8690          11.471600
17  2015      6   3335.5572         -28.542185
18  2015      7   3288.6483          -1.406329
19  2015      8   5355.8084          62.857439
20  2015      9   8209.1627          53.275885
21  2015     10   2817.3660         -65.680227
22  2015     11  12474.7884         342.781960
23  2015     12   8016.9659         -35.734654
24  2016      1   2824.8233         -64.764434
25  2016      2   5004.5795          77.164338
26  2016      3   3611.9680         -27.826743
27  2016      4   2977.8149         -17.556997
28  2016      5   8662.1464         190.889350
29  2016      6   4750.3781         -45.159342
30  2016      7   4432.8779          -6.683683
31  2016      8   2062.0693         -53.482380
32  2016      9   9328.6576         352.393021
33  2016     10  16243.1425          74.120899
34  2016     11   4011.4075         -75.303994
35  2016     12  17885.3093         345.861192
36  2017      1   7140.4391         -60.076513
37  2017      2   1613.8720         -77.398141
38  2017      3  14751.8915         814.068247
39  2017      4    933.2900         -93.673421
40  2017      5   6342.5828         579.593995
41  2017      6   8223.3357          29.652792
42  2017      7   6952.6212         -15.452543
43  2017      8   9040.9557          30.036650
44  2017      9  10991.5556          21.575152
45  2017     10   9275.2755         -15.614533
46  2017     11   9690.1037           4.472408
47  2017     12   8483.3468         -12.453498

In [16]:
# Question 217: Find seasonal peak months in sales.
monthly_sales = df.groupby('month')['Sales'].sum().reset_index()
monthly_sales = monthly_sales.sort_values(by='Sales', ascending=False)
print(monthly_sales.head(3))

    month        Sales
10     11  352461.0710
11     12  325293.5035
8       9  307649.9457

In [17]:
# Question 218: Find seasonal low months in sales.
monthly_sales_low = monthly_sales.sort_values(by='Sales', ascending=True)
print(monthly_sales_low.head(3))

   month        Sales
1      2   59751.2514
0      1   94924.8356
3      4  137762.1286

In [27]:
# Question 219: Find holiday season sales (Nov–Dec).
holiday_season_sales = df[df['month'].isin([11, 12])].groupby('year')['Sales'].sum().reset_index()
print(holiday_season_sales)

   year        Sales
0  2014  148174.3372
1  2015  150892.0847
2  2016  176411.0088
3  2017  202277.1438

In [28]:
# Question 220: Find holiday season profit (Nov–Dec).
holiday_season_profit = df[df['month'].isin([11, 12])].groupby('year')['Profit'].sum().reset_index()
print(holiday_season_profit)

   year      Profit
0  2014  18275.6968
1  2015  20491.7543
2  2016  21896.7168
3  2017  18173.4505

In [ ]:
# Question 221: Compare sales between weekdays and weekends.
# IMP
print(df['weekday'].value_counts())
df['day_type'] = df['weekday'].apply(lambda x: 'weekend' if x >= 5 else 'weekdays')
sales_comparison = df.groupby('day_type')['Sales'].sum().reset_index()
print(sales_comparison)

weekday
0    1871
4    1818
6    1710
5    1655
3    1463
1    1106
2     371
Name: count, dtype: int64
   day_type         Sales
0  weekdays  1.553862e+06
1   weekend  7.433385e+05

In [8]:
# Question 222: Compare profit between weekdays and weekends.
profit_comparison = df.groupby('day_type')['Profit'].sum().reset_index()
print(profit_comparison)

   day_type       Profit
0  weekdays  187989.8895
1   weekend   98407.1322

In [9]:
# Question 223: Compare sales before and after discount campaigns.
df['discount_status'] = df['Discount'].apply(lambda x: 'After Campaign' if x > 0 else 'Before Campaign')
sales_comparison_discount = df.groupby('discount_status')['Sales'].sum().reset_index()
print(sales_comparison_discount)

   discount_status         Sales
0   After Campaign  1.209292e+06
1  Before Campaign  1.087908e+06

In [10]:
# Question 224: Compare profit before and after discount campaigns.
profit_comparison_discount = df.groupby('discount_status')['Profit'].sum().reset_index()
print(profit_comparison_discount)

   discount_status       Profit
0   After Campaign  -34590.5815
1  Before Campaign  320987.6032

In [13]:
# Question 225: Compare sales during Q4 vs Q1.
q4_sales = df[df['quarter'] == 4]['Sales'].sum()
q1_sales = df[df['quarter'] == 1]['Sales'].sum()
print(f"Q4 Sales: {q4_sales}, Q1 Sales: {q1_sales}")

Q4 Sales: 878077.5592, Q1 Sales: 359681.5758

In [14]:
# Question 226: Compare profit during Q4 vs Q1.
q4_profit = df[df['quarter'] == 4]['Profit'].sum()
q1_profit = df[df['quarter'] == 1]['Profit'].sum()
print(f"Q4 Profit: {q4_profit}, Q1 Profit: {q1_profit}")

Q4 Profit: 110621.65969999997, Q1 Profit: 48023.74399999999

In [ ]:
# Question 227: Find sales growth in each region per year.
# IMP

# First, calculate yearly sales per region
yearly_region_sales = df.groupby(['year', 'Region'])['Sales'].sum().reset_index()

# Then, calculate year-over-year growth per region
yearly_region_sales['Sales_Growth'] = yearly_region_sales.groupby('Region')['Sales'].pct_change() * 100
print(yearly_region_sales)

    year   Region        Sales  Sales_Growth
0   2014  Central  103838.1646           NaN
1   2014     East  128680.4570           NaN
2   2014    South  103845.8435           NaN
3   2014     West  147883.0330           NaN
4   2015  Central  102874.2220     -0.928312
5   2015     East  156332.0570     21.488578
6   2015    South   71359.9805    -31.282776
7   2015     West  139966.2495     -5.353409
8   2016  Central  147429.3760     43.310319
9   2016     East  180685.8220     15.578228
10  2016    South   93610.2235     31.180282
11  2016     West  187480.1765     33.946703
12  2017  Central  147098.1282     -0.224682
13  2017     East  213082.9040     17.930063
14  2017    South  122905.8575     31.295336
15  2017     West  250128.3655     33.415900

In [ ]:
# Question 228: Find profit growth in each region per year.
# IMP
yearly_region_profit = df.groupby(['year', 'Region'])['Profit'].sum().reset_index()
yearly_region_profit['Profit_Growth'] = yearly_region_profit.groupby('Region')['Profit'].pct_change() * 100
print(yearly_region_profit)

    year   Region      Profit  Profit_Growth
0   2014  Central    539.5534            NaN
1   2014     East  17059.6095            NaN
2   2014    South  11879.1200            NaN
3   2014     West  20065.6912            NaN
4   2015  Central  11716.8020    2071.574120
5   2015     East  21091.0130      23.631277
6   2015    South   8318.5940     -29.972978
7   2015     West  20492.1947       2.125536
8   2016  Central  19899.1629      69.834422
9   2016     East  20141.5961      -4.501523
10  2016    South  17702.8084     112.810102
11  2016     West  24051.6069      17.369600
12  2017  Central   7550.8442     -62.054463
13  2017     East  33230.5614      64.984747
14  2017    South   8848.9079     -50.014101
15  2017     West  43808.9561      82.145652

In [ ]:
# Question 229: Find sales trend in furniture category.
#IMP
furniture_category = df[df['Category'] == 'Furniture']
print(furniture_category['Category'].value_counts())
furniture_sales_trend = furniture_category.groupby(['year','quarter'])['Sales'].sum().reset_index()
print(furniture_sales_trend)

Category
Furniture    2121
Name: count, dtype: int64
    year  quarter       Sales
0   2014        1  22656.1390
1   2014        2  28063.7496
2   2014        3  41957.8783
3   2014        4  64515.0862
4   2015        1  27374.0986
5   2015        2  27564.8280
6   2015        3  49586.0352
7   2015        4  65993.2752
8   2016        1  24349.3860
9   2016        2  41402.4970
10  2016        3  52814.6322
11  2016        4  80334.9208
12  2017        1  23723.8142
13  2017        2  45032.1030
14  2017        3  56283.1020
15  2017        4  90348.2500

In [23]:
# Question 230: Find profit trend in technology category.

technology_category = df[df['Category'] == 'Technology']
technology_profit_trend = technology_category.groupby(['year','quarter'])['Profit'].sum().reset_index()
print(technology_profit_trend)

    year  quarter      Profit
0   2014        1   1778.2709
1   2014        2   4624.4058
2   2014        3   2923.2821
3   2014        4  12166.8737
4   2015        1   2617.3426
5   2015        2   5959.9873
6   2015        3  10955.6459
7   2015        4  13970.8912
8   2016        1   7319.7652
9   2016        2  10542.7889
10  2016        3   8109.0475
11  2016        4  13802.3904
12  2017        1  15813.5973
13  2017        2   4561.3238
14  2017        3  11310.6989
15  2017        4  18998.6366

In [24]:
# Question 231: Find sales trend in office supplies category.
office_supply_category = df[df['Category'] == 'Office Supplies']
office_supply_sales_trend = office_supply_category.groupby(['year','quarter'])['Sales'].sum().reset_index()
print(office_supply_sales_trend)

    year  quarter      Sales
0   2014        1  14528.683
1   2014        2  31243.735
2   2014        3  53923.968
3   2014        4  52080.026
4   2015        1  23059.394
5   2015        2  32320.041
6   2015        3  35760.814
7   2015        4  46093.214
8   2016        1  29440.963
9   2016        2  34584.459
10  2016        3  45147.922
11  2016        4  74766.638
12  2017        1  43232.347
13  2017        2  45721.194
14  2017        3  72197.163
15  2017        4  84946.471

In [25]:
# Question 232: Find profit trend in furniture category.
furniture_category = df[df['Category'] == 'Furniture']
furniture_profit_trend = furniture_category.groupby(['year','quarter'])['Profit'].sum().reset_index()
print(furniture_profit_trend)

    year  quarter     Profit
0   2014        1  -202.4968
1   2014        2   800.8178
2   2014        3  2896.3160
3   2014        4  1963.0885
4   2015        1 -1164.2479
5   2015        2   826.5752
6   2015        3   537.5538
7   2015        4  2815.3218
8   2016        1   125.7279
9   2016        2  2083.0408
10  2016        3  1247.3641
11  2016        4  3503.8203
12  2017        1   762.3709
13  2017        2  1034.5751
14  2017        3  2195.5471
15  2017        4  -974.1018

In [26]:
# Question 233: Find sales growth by segment year over year.
# IMP
yearly_segment_sales = df.groupby(['year', 'Segment'])['Sales'].sum().reset_index()
yearly_segment_sales['Sales_Growth'] = yearly_segment_sales.groupby('Segment')['Sales'].pct_change() * 100
print(yearly_segment_sales)

    year      Segment        Sales  Sales_Growth
0   2014     Consumer  266096.8126           NaN
1   2014    Corporate  128434.8737           NaN
2   2014  Home Office   89715.8118           NaN
3   2015     Consumer  266535.9333      0.165023
4   2015    Corporate  128757.3069      0.251048
5   2015  Home Office   75239.2688    -16.136000
6   2016     Consumer  296863.8992     11.378566
7   2016    Corporate  207106.3618     60.850181
8   2016  Home Office  105235.3370     39.867570
9   2017     Consumer  331904.6999     11.803658
10  2017    Corporate  241847.8244     16.774696
11  2017  Home Office  159462.7309     51.529643

In [27]:
# Question 234: Find profit growth by segment year over year.
# IMP
yearly_segment_profit = df.groupby(['year', 'Segment'])['Profit'].sum().reset_index()
yearly_segment_profit['Profit_Growth'] = yearly_segment_profit.groupby('Segment')['Profit'].pct_change() * 100
print(yearly_segment_profit)

    year      Segment      Profit  Profit_Growth
0   2014     Consumer  24319.8504            NaN
1   2014    Corporate  13513.2769            NaN
2   2014  Home Office  11710.8468            NaN
3   2015     Consumer  28460.1665      17.024431
4   2015    Corporate  20688.3248      53.096284
5   2015  Home Office  12470.1124       6.483439
6   2016     Consumer  35770.9532      25.687786
7   2016    Corporate  30995.1690      49.819617
8   2016  Home Office  15029.0521      20.520582
9   2017     Consumer  45568.2391      27.388943
10  2017    Corporate  26782.3633     -13.591814
11  2017  Home Office  21088.6672      40.319343

In [ ]:
# Question 235: Find number of orders month by month.
#IMP
monthly_orders = df.groupby(['year','month'])['Order ID'].nunique().reset_index().rename(columns={'Order ID':'No. Of Orders'})
print(monthly_orders)

    year  month  No. Of Orders
0   2014      1             32
1   2014      2             28
2   2014      3             71
3   2014      4             66
4   2014      5             69
5   2014      6             66
6   2014      7             65
7   2014      8             72
8   2014      9            130
9   2014     10             78
10  2014     11            151
11  2014     12            141
12  2015      1             29
13  2015      2             36
14  2015      3             79
15  2015      4             72
16  2015      5             74
17  2015      6             68
18  2015      7             66
19  2015      8             68
20  2015      9            140
21  2015     10             87
22  2015     11            158
23  2015     12            161
24  2016      1             48
25  2016      2             45
26  2016      3             86
27  2016      4             89
28  2016      5            108
29  2016      6             97
30  2016      7             96
31  2016      8             90
32  2016      9            192
33  2016     10            105
34  2016     11            183
35  2016     12            176
36  2017      1             69
37  2017      2             53
38  2017      3            118
39  2017      4            116
40  2017      5            118
41  2017      6            133
42  2017      7            111
43  2017      8            111
44  2017      9            226
45  2017     10            147
46  2017     11            261
47  2017     12            224

In [31]:
# Question 236: Find number of orders quarter by quarter.
quarterly_orders = df.groupby(['year','quarter'])['Order ID'].nunique().reset_index().rename(columns={'Order ID':'No. of Orders'})
print(quarterly_orders)

    year  quarter  No. of Orders
0   2014        1            131
1   2014        2            201
2   2014        3            267
3   2014        4            370
4   2015        1            144
5   2015        2            214
6   2015        3            274
7   2015        4            406
8   2016        1            179
9   2016        2            294
10  2016        3            378
11  2016        4            464
12  2017        1            240
13  2017        2            367
14  2017        3            448
15  2017        4            632

In [34]:
# Question 237: Find sales during Black Friday week.
# IMP

# It usually falls between Nov 23–29

black_friday_week = df[(df['month'] == 11) & (df['weekday'].between(20,30))]
print(black_friday_week)
black_friday_sales = black_friday_week['Sales'].sum()
print(black_friday_sales)

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, year, quarter, month, weekday, day_type, discount_status]
Index: []

[0 rows x 27 columns]
0.0

In [35]:
# Question 238: Find profit during Black Friday week.
# black_friday_week = df[(df['month'] == 11) & (df['weekday'].between(20,30))]
black_friday_profit = black_friday_week['Profit'].sum()
print(black_friday_profit)

0.0

In [ ]:
# Question 239: Find sales spike in December.
# IMP

monthly_sales = df.groupby(['year','month'])['Sales'].sum().reset_index()

dec_sales = monthly_sales[monthly_sales['month'] == 12]
nov_sales = monthly_sales[monthly_sales['month'] == 11]
print(nov_sales)
print(dec_sales)
# Merge both to compare
# pd.merge(..., on='year') lines up rows where year matches in both frames. By default the merge is an inner join, 
# so only years present in both frames are kept.
# Because both frames have a column called Sales, suffixes=('_Dec','_Nov') tells pandas 
# how to rename those duplicate column names in the result.
comparison = pd.merge(dec_sales, nov_sales, on='year', suffixes=('_Dec', '_Nov'))
# Calculate growth %
comparison['Growth_%'] = ((comparison['Sales_Dec'] - comparison['Sales_Nov']) / comparison['Sales_Nov']) * 100
print(comparison)

    year  month        Sales
10  2014     11   78628.7167
22  2015     11   75972.5635
34  2016     11   79411.9658
46  2017     11  118447.8250
    year  month       Sales
11  2014     12  69545.6205
23  2015     12  74919.5212
35  2016     12  96999.0430
47  2017     12  83829.3188
   year  month_Dec   Sales_Dec  month_Nov    Sales_Nov   Growth_%
0  2014         12  69545.6205         11   78628.7167 -11.551882
1  2015         12  74919.5212         11   75972.5635  -1.386082
2  2016         12  96999.0430         11   79411.9658  22.146634
3  2017         12  83829.3188         11  118447.8250 -29.226798

In [46]:
# Question 240: Find sales dip in January.

jan_sales = monthly_sales[monthly_sales['month'] == 1]
# Shift December's year by +1 so it aligns with next January
dec_sales['year'] = dec_sales['year'] + 1

comparison = pd.merge(jan_sales,dec_sales, on='year', suffixes=('_Jan', '_Dec'))
comparison['Dip_%'] = ((comparison['Sales_Jan'] - comparison['Sales_Dec']) / comparison['Sales_Dec']) * 100
print(comparison)

   year  month_Jan   Sales_Jan  month_Dec   Sales_Dec      Dip_%
0  2015          1  18174.0756         12  69545.6205 -73.867405
1  2016          1  18542.4910         12  74919.5212 -75.250121
2  2017          1  43971.3740         12  96999.0430 -54.668239

C:\Users\udite\AppData\Local\Temp\ipykernel_15564\929732981.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dec_sales['year'] = dec_sales['year'] + 1